<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>2017 CSIE camp Monopoly!</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
    <button type="button" id="diceButton" onclick="roll_dice();" >Click Me to Roll the Dice!</button>
    <p id="output"> </p>
	<div id="container">
		<div id="switch"></div>
		<script language="JavaScript" src="../js/CircleTriangle.js"></script>
        <script language="JavaScript" src="/socket.io/socket.io.js"></script>
        <script language="JavaScript" src="../js/WebSocket.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    </div>
</body>

</html>
