<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>2017 CSIE camp Monopoly!</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>

<body>
<div id ="container">
	<div id="dice"></div>
	<div id="map">
		<div id="switch"></div>
		<script language="JavaScript" src="../js/CircleTriangle.js"></script> 
	</div>
	<div id="scoreboard">
		<h1>Scoreboard</h1>
		<div class="rank"></div>
		<div class="rank"></div>
		<div class="rank"></div>
		<div class="rank"></div>
		<div class="rank"></div>
	</div>
</div>
</body>

</html>