#openBackpack {
	margin-left: 1000px;
	margin-top: 20px;
	margin-right: 30px;
	border: solid grey 1px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
}
#openBackpack:hover {
	font-size: 20px;
	font-weight: 500;
}
#backpack {
	display: none;
	width: 95%;
	height: 95%;
	position: absolute;
	left: 2.5%;
	top: 2.5%;
	padding: 20px;
	border: solid grey 1px;
	background-color:rgba(255,255,255,0.9);
}


#profile {
	position: absolute;
	width: 300px;
	height: calc(100% - 40px);
	border: solid grey 1px;
	padding: 20px;
}
#profile #teamName {
	margin: 0px auto;
	line-height: 50px;
	border: solid grey 1px;
}
#profile #profilePic {
	position: relative;
	left: -25px;
	width: 300px;
	height: 300px;
	margin: 10px;
	overflow: hidden;
}
#profile .profileInfo {
	width: 260px;
	height: 50px;
	margin: 10px auto;
	border: solid grey 1px;
}


#shop {
	height: 100%;
	border: solid grey 1px;
	margin-left: 320px;
}

#shop div{
	border: solid grey 1px;
}
#shop #shopTitle {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	border: none;
}
#shop .item{
	width: 50%;
	padding: 10px 20px;
	float: left;
	border: none;
}
#shop .item div{
	margin: 10px auto;
	padding: 10px;
}
#shop .item .itemName {
	line-height: 50px;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	margin: 0px auto;
	padding: 0px;
}
#shop .itemPic {
	text-align: center
}
#shop .itemPic img{
	height: 200px;
	width: 300px;
}
#shop .itemBlock {
	line-height: 30px;
	text-align: center;
}
#shop .item .buy {
	margin: 0px auto;
}
#shop .item .buy:hover {
	font-weight: 500;
	font-size: 20px;
}