.diceBox {
	width: 600px;
	height: 460px;
	left: calc(50% - 300px);
	top: calc(50% - 230px);
	padding: 20px;
}
#rollDice img {
	margin: 20px;
	width: 256px;
	height: 256px;
}
#rollDice img:hover {
	position: relative;
	top: 10px;
	width: 236px;
	height: 236px;
}
#diceResult .txtbox {
	margin: auto;
	height: 130px;
	text-align: center;
}
#diceResult img {
	margin: auto;
	height: 250px;
	width: 250px;
}
#diceResult h1 {
	font-size: 60px;
	line-height: 60px;
	margin: 10px;
}
#diceResult h2 {
	line-height: 40px;
	margin: 10px;
}