.houseBox {
	width: 560px;
	height: 300px;
	left: calc(50% - 280px);
	top: calc(50% - 150px);
	padding: 20px;
}
.houseBox .buttonBlock {
	display: inline-block;
	border: solid grey 1px;
	height: 70px;
	width: 175px;
	padding: 10px;
	margin: 10px;
}
.houseBox #iKnow{
	width: 220px;
}
.houseBox #iKnow .reply{
	width: calc(100% - 52px);
}
.houseBox .buttonBlock img{
	float: left;
	margin: 10px;
	height: 30px;
	width: 30px;
}
.houseBox .buttonBlock .reply{
	float: left;
	height: 50px;
	width: 100px;
	line-height: 50px;
	font-size: 20px;
}
.houseBox .buttonBlock:hover img{
	margin: 5px;
	height: 40px;
	width: 40px;
}
.houseBox .buttonBlock:hover .reply{
	font-size: 22px;
	font-weight: 500;
}