* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#container{
	position: absolute;
	left: calc(50% - 450px);
	top: 50px;
	width: 900px;
	height: 700px;
	border: solid grey 0.2px;
	padding: 100px;
}

.circle{
	position: absolute;
	width:50px;
	height:50px;
	background:#0cc;
	-webkit-clip-path:circle(50% at 50% 50%);
}

#c03 {
	background: orange;
	-webkit-clip-path:polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

#c33 {
	background: orange;
	-webkit-clip-path:polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.triangle{
	position: absolute;
	width:80px;
	height:69.6px;
	background:#c00;
	-webkit-clip-path:polygon(0% 100%, 50%  0%,100% 100%);
}

#switch{
	position: absolute;
	left: calc(50% - 64.8px);
	top: calc(50% - 61.6px);
	width:129.6px;
	height:123.2px;
	background:#095;
	-webkit-clip-path:polygon(0% 38.31%, 50% 0%,100% 38.31%,80.86% 100%,19.14% 100%);
}
