.map{
	position: absolute;
	transform: scale(0.9, 0.9);
	left: 50px;
	top: 50px;
	width: 900px;
	height: 700px;
	padding: 100px;
}
#origin_map div{
	background: #D9D9D9;
}
.map .node {
	position: absolute;
	width:50px;
	height:50px;
	border-radius: 25px;
}
#origin_map .node .serverImg {
	display: none;
	position: relative;
	margin-left: -70px;
	margin-top: -70px;
	width: 240px;
	height: 135px;
}

.map .chance {
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
	width:70px;
	height:70px;
	border-radius: 35px;
}
#origin_map .chance img {
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	width: 50px;
	height: 50px;
}
.map .question {
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
	width:70px;
	height:70px;
	border-radius: 35px;
}
#origin_map .question img {
	position: relative;
	margin-left: 15px;
	margin-top: 15px;
	width: 40px;
	height: 40px;
	opacity: 0.4;
}
.map .home {
	position: absolute;
	width:80px;
	height:80px;
	border-radius: 40px;
}
#origin_map .home{
	background-color: white;
}
#origin_map .home img{
	width:80px;
	height:80px;
}
.map .dhcp {
	position: absolute;
	width:60px;
	height:60px;
}

#origin_map .dhcp {
	background: #B0B0B0;
	text-align: center;
	line-height: 60px;
}

.map #switch {
	position: absolute;
	width:120px;
	height:120px;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
}

#origin_map #switch img{
	position: absolute;
	height: 80px;
	width: 80px;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	opacity: 0.2;
}

#origin_map #switch {
	border-radius: 60px;
}

.map .activeLand:hover {
	transform: scale(1.15, 1.15);
}

#origin_map #t1 { transform: rotate(112deg); }
#origin_map #t4 { transform: rotate(328deg); }

#nodeProperty {
	position: absolute;
	text-align: left;
	padding: 5px;
	max-width: 190px;
}
#nodeProperty #nodeType{
	height: 23px;
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	margin: 5px;
	padding: 0px;
}
#nodeProperty .info{
	margin: 5px;
}
#nodeProperty p{
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
}

#cpy_map #cpy_switch {
	position: absolute;
	width:120px;
	height:120px;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
	-webkit-clip-path:circle(50% at 50% 50%);
}

#fw_map .firewallImg {
	display: none;
	position: relative;
	margin-left: -40px;
	margin-top: -10px;
	width: 128px;
	height: 72px;
}

#fw_map #fw_switch {
	position: absolute;
	width:120px;
	height:120px;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
}