#scoreboard {
	margin-left: 1000px;
	margin-top: 50px;
	margin-right: 30px;
	border: solid grey 1px;
}
#scoreboard .title {
	margin: 10px;
	height: 70px;
	border: solid grey 1px;
}
#scoreboard .title h1{
	margin: auto;
	line-height: 70px;
}
#scoreboard .rank {
	padding: 5px;
	margin: 10px;
	height: 60px;
	border: solid grey 1px;
}
#scoreboard .rank img{
	position: absolute;
	height: 50px;
	width: 50px;
}
#scoreboard .rank .info{
	margin-left: 55px;
	padding-left: 10px;
}
#scoreboard .rank h4{
	margin: 0;
	line-height: 25px;
}
#scoreboard .rank p{
	margin: 0;
	line-height: 25px;
}