<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>2017 CSIE camp Monopoly - Team view</title>
	<link type="text/css" rel="stylesheet" href="index.css">
</head>

<body>
<div id ="container">

	<div id="profile">
		<div class="title">
			<h1 id="teamName">第一小隊</h1>
		</div>
		<img src="pic.jpg" id="profilePic">
		<div class="profileInfo"></div>
		<div class="profileInfo"></div>
		<div class="profileInfo"></div>
		<div class="profileInfo"></div>
		<div class="profileInfo"></div>
	</div>

	<div id="shop">
		
	</div>
	
</div>
</body>

</html>