<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>2017 CSIE camp Monopoly!</title>
	<link type="text/css" rel="stylesheet" href="index.css">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanstc.css">
</head>

<body>

<div id="login">
	<h1>Please enter your team ID</h1>
    <input id="teamID" type="number"/>
    <input type="button" id="loginButton" value="Submit" onclick="login()">
</div>

<div id ="container">

	<div id="map">
		<div id="switch"></div>
		<div class="triangle" id="t0" style="left: 410px; top: -34.8px;"></div>
		<div class="circle" id="s01" style="left: 425.7px; top: 230.5px;"></div>
		<div class="circle" id="s02" style="left: 423.8px; top: 141.8px;"></div>
		<div class="circle" id="s03" style="left: 421.9px; top: 53.1px;"></div>
		<div class="circle" id="c01" style="left: 500px; top: 18.695px;"></div>
		<div class="circle" id="c02" style="left: 575px; top: 63.39px;"></div>
		<div class="circle" id="c03" style="left: 650px; top: 108.085px;"></div>
		<div class="circle" id="c04" style="left: 725px; top: 152.78px;"></div>
		<div class="circle" id="c05" style="left: 800px; top: 197.475px;"></div>
		<div class="triangle" id="t1" style="left: 860px; top: 233.37px;"></div>
		<div class="circle" id="c11" style="left: 846.29px; top: 314.142px;"></div>
		<div class="circle" id="c12" style="left: 817.58px; top: 386.113px;"></div>
		<div class="circle" id="c13" style="left: 788.87px; top: 458.085px;"></div>
		<div class="circle" id="c14" style="left: 760.16px; top: 530.057px;"></div>
		<div class="circle" id="c15" style="left: 731.45px; top: 602.028px;"></div>
		<div class="triangle" id="t2" style="left: 687.74px; top: 665.2px;"></div>
		<div class="circle" id="s21" style="left: 495.135px; top: 405.5px;"></div>
		<div class="circle" id="s22" style="left: 562.67px; top: 491.8px;"></div>
		<div class="circle" id="s23" style="left: 630.205px; top: 578.1px;"></div>
		<div class="circle" id="c21" style="left: 610.16px; top: 674px;"></div>
		<div class="circle" id="c22" style="left: 517.58px; top: 674px;"></div>
		<div class="circle" id="c23" style="left: 425px; top: 674px;"></div>
		<div class="circle" id="c24" style="left: 332.42px; top: 674px;"></div>
		<div class="circle" id="c25" style="left: 239.84px; top: 674px;"></div>
		<div class="triangle" id="t3" style="left: 132.26px; top: 665.2px;"></div>
		<div class="circle" id="s31" style="left: 356.265px; top: 405.5px;"></div>
		<div class="circle" id="s32" style="left: 284.93px; top: 491.8px;"></div>
		<div class="circle" id="s33" style="left: 213.595px; top: 578.1px;"></div>
		<div class="circle" id="c31" style="left: 118.55px; top: 602.028px;"></div>
		<div class="circle" id="c32" style="left: 89.84px; top: 530.057px;"></div>
		<div class="circle" id="c33" style="left: 61.13px; top: 458.085px;"></div>
		<div class="circle" id="c34" style="left: 32.42px; top: 386.113px;"></div>
		<div class="circle" id="c35" style="left: 3.71px; top: 314.142px;"></div>
		<div class="triangle" id="t4" style="left: -40px; top: 233.37px;"></div>
		<div class="circle" id="c41" style="left: 50px; top: 197.475px;"></div>
		<div class="circle" id="c42" style="left: 125px; top: 152.78px;"></div>
		<div class="circle" id="c43" style="left: 200px; top: 108.085px;"></div>
		<div class="circle" id="c44" style="left: 275px; top: 63.39px;"></div>
		<div class="circle" id="c45" style="left: 350px; top: 18.695px;"></div> 
	</div>

	<div id="players">
		<img src="img/player0.png" id="player0">
		<img src="img/player1.png" id="player1">
		<img src="img/player2.png" id="player2">
		<img src="img/player3.png" id="player3">
		<img src="img/player4.png" id="player4">
	</div>

	<div id="scoreboard">
		<div class="title">
			<h1>Scoreboard</h1>
		</div>
		<div class="rank">
			<img class="picture" src="img/prof.png">
			<div class="info" id="info1">
				<h4>第一小隊</h4>
				<p>$1000</p>
			</div>
		</div>
		<div class="rank">
			<img class="picture" src="img/prof.png">
			<div class="info"  id="info2">
				<h4>第二小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img class="picture" src="img/prof.png">
			<div class="info" id="info3">
				<h4>第三小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img class="picture" src="img/prof.png">
			<div class="info" id="info4">
				<h4>第四小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img class="picture" src="img/prof.png">
			<div class="info"  id="info5">
				<h4>第五小隊</h4>
				<p>$2000</p>
			</div>
		</div>
	</div>

	<div id="questionBox">
		<img src="img/close.png" class="closeButton" onclick="closeQuestion()">
		<div class="qTitle"><h1>題目名稱</h1><div id="timeLeft"></div></div>
		<div class="qDes">
			<p>default.</p>
		</div>
		<form>
			<div class="options" id="multiOptions">
				<div class="opBox" id="mop0">
					<input type="checkbox" name="mq" value=0> 
					<label>選項一</label>
				</div>
				<div class="opBox" id="mop1">
					<input type="checkbox" name="mq" value=1> 
					<label>選項二</label>
				</div>
				<div class="opBox" id="mop2">
					<input type="checkbox" name="mq" value=2> 
					<label>選項三</label>
				</div>
				<div class="opBox" id="mop3">
					<input type="checkbox" name="mq" value=3> 
					<label>選項四</label>
				</div>
				<div class="opBox" id="mop4">
					<input type="checkbox" name="mq" value=4> 
					<label>選項五</label>
				</div>
			</div>
			<div class="options" id="singleOptions">
				<div class="opBox" id="sop0">
					<input type="radio" name="qq" value=0> 
					<label>選項一</label>
				</div>
				<div class="opBox" id="sop1">
					<input type="radio" name="qq" value=1> 
					<label>選項二</label>
				</div>
				<div class="opBox" id="sop2">
					<input type="radio" name="qq" value=2> 
					<label>選項三</label>
				</div>
				<div class="opBox" id="sop3">
					<input type="radio" name="qq" value=3> 
					<label>選項四</label>
				</div>
				<div class="opBox" id="sop4">
					<input type="radio" name="qq" value=4> 
					<label>選項五</label>
				</div>
			</div>
			<br><br>
			<input type="button" id="submitButton" value="Submit">
		</form>

		<div id="answerResult">
			<h1>答對/錯了</h1>
			<img src="">
			<p></p>
		</div>

	</div>

	<div class="diceBox" id="diceResult">
		<div class="txtbox">
			<h2>Player # got</h2>
			<h1>3!</h1>
		</div>
		<img src="img/wifi1.png">
	</div>

	<div class="diceBox" id="rollDice">
		<div class="txtbox">
			<h1>Player # roll the dice!</h1>
		</div>
		<img src="img/wifi.gif" id="wifi">
		<input type="button" value="Roll Dice!" id="roll_dice_btn" onclick="rollDice()"/>
	</div>

	<div id="openBackpack" onclick="showBackpack()"> Check my backpack </div>
	<div id="backpack">
		<div id="profile">
			<div class="title">
				<h1 id="teamName">第一小隊</h1>
			</div>
			<img src="img/player1.png" id="profilePic">
			<div class="profileInfo"></div>
			<div class="profileInfo"></div>
			<div class="profileInfo"></div>
			<div class="profileInfo"></div>
			<div class="profileInfo"></div>
		</div>
		<div id="shop">
		</div>
		<img src="img/close.png" class="closeButton" onclick="$('#backpack').hide()">
	</div>

</div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="view.js"></script>