<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>2017 CSIE camp Monopoly!</title>
	<link type="text/css" rel="stylesheet" href="./view/stylesheets/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<script language="JavaScript" src="/socket.io/socket.io.js"></script>
	<script language="JavaScript" src="./model/class_def.js"></script>
	<script language="JavaScript" src="./model/question.js"></script>
	<script language="JavaScript" src="./view/js/update.js"></script>
	<script language="JavaScript" src="./view/js/Websocket.js"></script>

</head>
<body>

<div id ="container">

	<!--div id="dice">
		<img src="./view/img/wifi.gif" id="wifi">
		<script type="text/javascript">
			$("#dice").click(function() {
			 	$("#dice").find('img').attr("src", "./view/img/wifi.gif");
			 	roll_dice();
			})
		</script>
	</div-->

	<div id="map">
		<div id="switch"></div>
		<script src="./view/js/CircleTriangle.js"></script> 
	</div>

	<div id="players">
		<img src="./view/img/player0.png" id="player0">
		<img src="./view/img/player1.png" id="player1">
		<img src="./view/img/player2.png" id="player2">
		<img src="./view/img/player3.png" id="player3">
		<img src="./view/img/player4.png" id="player4">
	</div>

	<div id="scoreboard">
		<div class="title">
			<h1>Scoreboard</h1>
		</div>
		<div class="rank">
			<img id="profile" src="./view/img/prof.png">
			<div class="info" id="info1">
				<h4>第一小隊</h4>
				<p>$1000</p>
			</div>
		</div>
		<div class="rank">
			<img id="profile" src="./view/img/prof.png">
			<div class="info"  id="info2">
				<h4>第二小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img id="profile" src="./view/img/prof.png">
			<div class="info" id="info3">
				<h4>第三小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img id="profile" src="./view/img/prof.png">
			<div class="info" id="info4">
				<h4>第四小隊</h4>
				<p>$2000</p>
			</div>
		</div>
		<div class="rank">
			<img id="profile" src="./view/img/prof.png">
			<div class="info"  id="info5">
				<h4>第五小隊</h4>
				<p>$2000</p>
			</div>
		</div>
	</div>

	<div id="questionBox">
		<div class="qTitle"><h1>題目名稱</h1></div>
		<div class="closeButton"></div>
		<div class="qDes">
			<p>default.</p>
		</div>
		<form class="options">
			<input type="radio" name="q1" value="1"> 選項一
			<input type="radio" name="q1" value="2"> 選項二
			<input type="radio" name="q1" value="3"> 選項三
			<input type="radio" name="q1" value="4"> 選項四
			<br><br>
			<input type="submit" id="submitButton" value="Submit">
		</form>
	</div>

	<div class="diceBox" id="diceResult">
		<div class="txtbox">
			<h2>Player # got</h2>
			<h1>3!</h1>
		</div>
		<img src="./view/img/wifi1.png">
	</div>

	<div class="diceBox" id="rollDice">
		<div class="txtbox">
			<h1>Player # roll the dice!</h1>
		</div>
		<img src="./view/img/wifi.gif" id="wifi">
		<input type="button" value="Roll Dice!" id="roll_dice_btn" ></input>
		<script type="text/javascript">
			$("#roll_dice_btn").click(function() {
			 	$("#rollDice img").attr("src", "./view/img/wifi.gif");
			 	setTimeout( " roll_dice(); ", 2000 );
			})
		</script>
	</div>

</div>
</body>

</html>
