<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>login :: 2017 CSIE camp Monopoly!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>

<body>
	<form name="loginBox" action="view/index.html">
		<h1>Please enter your team ID</h1>
	    <input id="teamID" type="number"/>
	    <input type="submit" id="loginButton" value="Submit">
	    <script>
			$('#loginButton').click( function(){
				window.localStorage.setItem('tmpId', JSON.stringify( $('#teamID').val() ) );
			});
		</script>
	</form>
</body>

</html>
